body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

.controls {
  margin: 20px 0;
}

button {
  background-color: #8fbc8f; /* Приглушенно зеленый */
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:active {
  background-color: #fa8072; /* Приглушенно лососевый */
}

#wordDisplay {
  font-size: 48px;
  color: #4682b4; /* Приглушенно синий */
  margin: 20px 0;
}

#timer {
  font-size: 24px;
  color: #333;
  margin: 10px 0;
}

#endMessage {
  font-size: 36px;
  color: #333;
  margin-top: 20px;
}